spring:
  application:
    name: event-ticket-management-system

  datasource:
    url: jdbc:postgresql://localhost:5432/EventMangement_DB
    username:
    password:
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: event_db
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081

jwt:
  token:
    validity: 18000
    prefix: Bearer
  signing:
    key:
  authorities:
    key: roles
  header:
    string: Authorization

ipfs:
  rpc:
    api:
      address: /ip4/0.0.0.0/tcp/5001